html {
    font-family: futura, segoe, sans-serif;
    background-image: linear-gradient(to bottom, black, silver);
}
#topContainer, #commandContainer, #aspenContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 10px 20px;
    background-color: #0f0f0f;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    font-family: monospace;
    z-index: 1000;
}
#topContainer {
    width: calc(100% - 80px);
    left: 20px;
    right: 20px;
    height: 40px;
}
#commandContainer {
    width: calc(50% - 80px);
    height: calc(100% - 120px);
    left: 20px;
    font-family: monospace;
    z-index: 1000;
    overflow-x: scroll;
    top: 80px;
    bottom: 20px;
}
#aspenContainer {
    width: calc(50% - 80px);
    height: calc(100% - 120px);
    right: 20px;
    overflow-y: scroll;
    top: 80px;
    bottom: 20px;
}

#commandBlock, #aspenBlock {
    border: 1px solid #444;
    border-radius: 10px;
    padding: 8px;
    color: white;
    background-color: #0f0f0f;
    box-shadow: none;
    outline: none;
    flex-grow: 1;
    height: calc(100% - 80px);
}
.topbtn {
    border: none;
    border-radius: 10px;
    padding: 8px 15px;
    background-color: slategrey;
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px white, 2px 2px 2px green, inset 2px 2px 5px white;
    outline: none;
}
.topbtn:hover {
    box-shadow: 0px 0px 5px 1px white, 2px 2px 2px green, inset 5px 5px 15px grey, -2px -2px 2px silver, 2px 2px 2px #71706e;
}
.topbtn:active {
    box-shadow: 0px 0px 5px 1px silver, 2px 2px 2px green, inset 15px 15px 15px 15px black, -2px -2px -2px -2px black, -2px -2px -2px -2px black;
}
#codeUpload {
    cursor: auto;
}
.hidden {
    display: none;
}
.caret {
    font-size: 20px;
    cursor: pointer;
}
.cmdExpand {
    justify-content: center;
    height: 400px; /* Adjust as needed */
    background-color: #1a1a1a;
    border: 2px solid #333;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: scroll;
}
.cmdExpandBox {
    height: 370px;
}
.cmdConsole {
    display: block;
}
